<ng-template #errorTemplate>
  <tr>
    <td colspan="3" class="error-row">
      <div style="text-align: center; padding: 1em; color: #dc3545;">
        لا يمكن تحميل التصميم المخصص للخادم
      </div>
    </td>
  </tr>
</ng-template>

<ng-template #loadingTemplate>
  <tr>
    <td colspan="3" class="loading-row">
      <div style="display: flex; align-items: center; justify-content: center; padding: 1em;">
        <span>&nbsp;جاري التحميل</span>
      </div>
    </td>
  </tr>
</ng-template>

<head>
  <title>إعادة تعيين كلمة المرور</title>
  <meta name="description" content="إعادة تعيين كلمة المرور الخاصة بك." />
</head>

<body>
  <ng-template #errorTemplate>
    <tr>
      <td colspan="3" class="error-row"> لا يمكن تحميل التصميم المخصص للخادم</td>
    </tr>
  </ng-template>

  <ng-template #loadingTemplate>
    <tr>
      <td colspan="3" class="loading-row" style="padding: 1em; display: flex; align-items: center; justify-content: center;">
        جاري التحميل&nbsp;
      </td>
    </tr>
  </ng-template>

</body>

