<section class="comp-wrap">
  <h2>{{ 'comp.title' | t }}</h2>
  <form [formGroup]="filters" class="filters">
    <input [placeholder]="('comp.keyword' | t)" formControlName="keyword">
    <select formControlName="industry"><option value="all">{{ 'common.all' | t }}</option><option>Retail</option><option>SaaS</option></select>
  </form>
  <table class="table">
    <thead><tr><th>{{ 'comp.competitor' | t }}</th><th>{{ 'comp.adCount' | t }}</th><th>{{ 'comp.avgCtr' | t }}</th><th>{{ 'common.actions' | t }}</th></tr></thead>
    <tbody>
      <tr *ngFor="let r of rows"><td>{{r.name}}</td><td>{{r.count}}</td><td>{{r.ctr}}%</td><td><button (click)="open(r)">{{ 'common.details' | t }}</button></td></tr>
    </tbody>
  </table>
</section>
