.ad-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  margin: auto;
}

.full-width {
  width: 100%;
}

.preview {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.preview img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
